.main-text{
    width: 60%;
    height: 293px;
    display: block;
    margin-bottom: 56px;
}
.main-text .title{
    display: flex;
    justify-content: center;
    font-size: 64px;
    font-weight: 500;
    margin-left: 165px;
}