.main-header{
    display: flex;
    align-items: center;
    width: 50%;
    height: 34px;
    justify-content: space-between;
    margin: 25px 0px 105px 130px;
}
.main-header .title{
    margin-left: 13px;
}
.main-header .wrapper{
    display: flex;
    align-items: center;
}